<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" action="{% url 'user group' %}">{% csrf_token %}
        <input type="email" name="e-mail" value="Enter user E-mail"><br>
        <input type="text" name='level' value='enter user level'><br>
        <input type="submit" value="submit"><br>
    </form>

    <h1> Registerd Users: </h1>
{% for user in users%}
   <p> {{user}}</p>
{% endfor %}

</body>
</html>