{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my-project1/styles.css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'my-project1/images/logo2.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'my-project1/styles.css/all.css' %}">
    <script src="{% static 'my-project1/js/jquery-3.6.0.min.js' %}"></script>

    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https">
    <title>SIGN-IN,UP</title>
</head>

<body>


    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="{% url 'verificate' %}" method="POST">
                <h1>Create Account</h1>
                <!-- <div class="social-container">
				<a href="https://www.facebook.com/" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
                <ul class="social-icons">
                    <li class="flex">
                        <i class="fa fa-twitter fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-facebook fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-instagram fa-2x"></i>
                    </li>
                </ul>
                <span>or use your email for registration</span>
                {%csrf_token%}
                {% for field in registeration_form %}
                    {{field.label_tag}} {{field}}
                    <!--{% if field.help_text %}
                        <small style="color: grey;">{{field.help_text}}</small>
                    {% endif %}-->
                    {% for error in field.errors %}
                        <small style="color: red;">{{error}}</small>
                    {% endfor %}
                {% endfor %}
                <button type="submit">Register</button>
            </form>
        </div>


        <div class="form-container sign-in-container">
            <form action="{% url 'verificate' %}" method="POST">
                <h1>Sign in</h1>
                <!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
                <ul class="social-icons">
                    <li class="flex">
                        <a href="#" class="social"> <i class="fa fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="flex">
                        <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="flex">
                        <a href="#" class="social">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                </ul>
                <span>or use your account</span>
                {% csrf_token %}
                {% for field in login_form %}
                    {{field.label_tag}} {{field}}
        
                    {% if field.help_text %}
                        <small style="color: grey;">{{field.help_text}}</small>
                    {% endif %}
                {% endfor %}
        
                {% for field in login_form %}
                    {% for error in field.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                {% endfor %}
                
                {% for error in login_form.field.errors %}
                        <small style="color: red;">{{error}}</small>
                    {% endfor %}
        
                    {% if login_form.non_field_errors %}
                        <div style="color:red;">
                            <p>{{login_form.non_field_errors}}</p>
                        </div>
                    {% endif %}
        
                <button type="submit">Login</button>
            </form>
        </div>

        <!-- both container  -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 
<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
    -->

    <script src="{% static 'my-project1/js/darkmode-js.js' %}"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    <script src="{% static 'my-project1/js/main.js' %}"></script>
</body>

</html>