<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if massege %}
        <h2 style="color: red;">{{ massege }}</h2>
    {% endif %}
    <h2><a href="{% url 'offer home' %}">Return To Offer Home</a></h2><br>
    <form action="{% url 'add offer' %}" method="post">{% csrf_token %}
        Name:<input type="text" name='name'><br>
        Percentage: <input type="text" name="percentage" id="percentrange" ><br>
        End Date: <input type="date" name="end date"><br>
        Affected Room Types: <br>
        {% for type in roomtypes %}
            <label for="type_{{type.name}}"><input type="checkbox" name="type_{{type.name}}" id="type_{{ type.name }}">{{type.name}}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>