<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if massege %}
        <p style="color: red;">{{ massege }}</p>
    {% endif %}
    <form action="{% url 'commit offer update' id=offer.id %}" method="POST">{% csrf_token %}
        Name:{{offer.name}}<br>
        Percentage: <input type="text" name="percentage" id="percentrange" value="{{offer.percentage}}" ><br>
        Start Date: <input type="date" name="start date" value="{{offer.start_date | date:'Y-m-d'}}"><br>
        End Date: <input type="date" name="end date" value="{{offer.end_date | date:'Y-m-d'}}"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>