<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'confirm delete' id=review.id %}" method="POST" >{% csrf_token %}
        <p>Rating: {{review.rating}} </p>
        <p>Date: {{review.date}} </p>
        <p> {{review.desc}} </p>
        <p><strong>Are You Sure You Want To Delete This Review</strong></p>
        <input type="submit" value="Confirm">
    </form>
</body>
</html>