<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="{% url 'home' %}">Return To Rooms Home</a></p>
    {% if massege %}
        <p style="color: red;">{{ massege }}</p>
    {% endif %}
    <form action="{% url 'add room' %}" method="POST">{% csrf_token %}
        Type: <br>
        {% for type in types %}
            <label for="radio_{{type.id}}"><input type="radio" name='type' id='radio_{{type.id}}' value='{{type.name}}'>{{type.name}}</label><br>
        {% endfor %}
        Floor:<input type="number" name='floor'><br>
        <input type="submit" value='Submit'>
    </form>
</body>
</html>