<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if massege %}
        <h2 style="color: green;"> {{massege}} </h2>
    {% endif %}
    <h2><a href="{% url 'rooms home' %}">Return To Rooms Home</a></h2>
    <p>Rooms Available:</p>
    <table>
        {% for room in rooms %}
            <tr>
                <td id ="{{room.id}}">{{room.id}}</td>
                <td>{{ room.type }}</td>
                <td>{{ room.floor }}</td>
                <td>{{ room.stateName }}</td>
                <td><a href="{% url 'confirm maintenance' id=room.id %}">Add To Maintenance</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>